
/* DO one section at a time:
- 1st - get the content into HTML
- then - style that section in CSS
- repeat -
*/

/* header section */

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.header-logo {
    flex: auto;
    margin: 5px 0;
}

.header-links {
    flex: auto;
}

.header-links ul {
    padding: 0;
    margin: 5px 0;
    text-align: right;
}

.header-links ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
}

/* hero section */

.section-hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.hero-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-tiger {
    min-width: 10px;
    max-width: 300px;
}

/* info section */

.section-info {
    display: flex;
    flex-direction: column;
}

.info-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-info h1 {
    text-align: center;
}

.info-items p {
    width: 200px;
    text-align: center;
}

.info-images-container {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.item1-image, .item2-image, .item3-image, .item4-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* quote section */

.section-quote {
    background-color: #E5E7EB;
}

.quote-card1 {
    display: flex;
    flex-direction: column;
}

.quote-card1 .quote1 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    margin: 0;
}

.quote-card1 .author1 {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    align-self: flex-end;
}

/* action section */



/* footer section */


