.section-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    flex: auto;
    margin: 5px 0;
}

.header-links {
    flex: auto;
}

.header-links ul {
    padding: 0;
    margin: 5px 0;
    text-align: right;
}

.header-links ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
}

/* 1 section at a time:
- get the content into HTML
- style that section in CSS
*/