
/* DO one section at a time:
- 1st - get the content into HTML
- then - style that section in CSS
- repeat -
*/

/* header section */

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
}

.header-logo {
    flex: auto;
    margin: 5px 0;
}

.header-links {
    flex: auto;
}

.header-links ul {
    padding: 0;
    margin: 5px 0;
    text-align: right;
}

.header-links ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
}

/* hero section */

.section-hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.hero-left {
    width: 50%;
    display: flex;
    align-items: center;
}

.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-tiger {
    min-width: 10px;
    max-width: 300px;
}

/* info section */



/* quote section */



/* action section */



/* footer section */


